$icomoon-font-family: "fallout-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-agenda-card: "\e900";
$icon-aggressive: "\e901";
$icon-agility: "\e902";
$icon-apparell: "\e903";
$icon-armor: "\e904";
$icon-charisma: "\e905";
$icon-companion: "\e906";
$icon-critter: "\e907";
$icon-endurance: "\e908";
$icon-green-terrain: "\e909";
$icon-hit: "\e90a";
$icon-human: "\e90b";
$icon-intelligence: "\e90c";
$icon-item: "\e90d";
$icon-loot: "\e90e";
$icon-luck: "\e90f";
$icon-monster: "\e910";
$icon-perception: "\e911";
$icon-player-brotherhood: "\e912";
$icon-player-ghoul: "\e913";
$icon-player-super-mutant: "\e914";
$icon-player-vault-dweller: "\e915";
$icon-player-wastelander: "\e916";
$icon-quest: "\e917";
$icon-radiation: "\e918";
$icon-ranged: "\e919";
$icon-red-terrain: "\e91a";
$icon-retreat: "\e91b";
$icon-robot: "\e91c";
$icon-settlement: "\e91d";
$icon-shield: "\e91e";
$icon-star: "\e91f";
$icon-strength: "\e920";
$icon-super-mutant: "\e921";
$icon-vats: "\e922";
$icon-vats-a: "\e923";
$icon-vats-ah: "\e924";
$icon-vats-ahl: "\e925";
$icon-vats-ahlt: "\e926";
$icon-vats-aht: "\e927";
$icon-vats-al: "\e928";
$icon-vats-alt: "\e929";
$icon-vats-at: "\e92a";
$icon-vats-h: "\e92b";
$icon-vats-hl: "\e92c";
$icon-vats-hlt: "\e92d";
$icon-vats-ht: "\e92e";
$icon-vats-l: "\e92f";
$icon-vats-lt: "\e930";
$icon-vats-t: "\e931";
$icon-vault-109: "\e932";
$icon-vault-84: "\e933";
$icon-wasteland: "\e934";
$icon-weapon: "\e935";

